.container {
  position: fixed;
  width: 100%;
  z-index: 100; /* <- Vi løfter navigation op over alle andre elementer hvor z-index er mindre end 100. */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* så ser det lidt pænere ud */
}

.navBar {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: var(--navigation-background-color);
  color: var(--navigation-color);
  justify-content: space-between;
  align-items: center;
}

.navBar img {
  padding: 5px;
  left: 2px;
  top: 1px;
  position: relative;
}

.navBar .logo {
  background-color: var(--navigation-logo-background-color);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  object-fit: contain;
}
